LaTex/images
LaTex/temp_maps
LaTex/solar_maps
LaTex/pdf_files
LaTex/main.pdf
.DS_Store

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.pdf_files
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.xml
*.synctex.gz
*.gz
*.toc